venv/
/venv/
venv
__pycache__
dist/
/dist/
build/
/build/
build
dist
/__pycache__
/__pycache__/
__pycache__/
silero_tts/silero_models
silero_tts/silero_models
silero_tts/silero_models/
particles.mp4
output_ai.wav
ota
Youtube-Video-Transcribe-Summarizer-LLM-App/
Youtube-Video-Transcribe-Summarizer-LLM-App/
.Youtube-Video-Transcribe-Summarizer-LLM-App