pip install deep-translator
pip install gtts
pip install pydub
pip install SpeechRecognition
pip install simpleaudio
pip install PyAudio
pip install numpy
pip install ollama
pip install pywin32
pip install datasets
pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu126
pip install loguru
pip install number2text
pip install requests
pip install google-generativeai
pip install monsterapi
pip install pydantic
pip install langchain-community
pip install duckduckgo-search
pip install playwright
pip install youtube-search-python
pip install pytubefix
pip install whisper
